include .pre-commit-config.yaml .flake8 pyproject.toml tox.ini
include requirements.txt requirements.in

recursive-include yomiel *.proto *.md *.yaml VERSION bootstrap
recursive-include yomiel/data/bindings *.py

recursive-include . LICENSE NOTICE
recursive-include docs *.svg

global-exclude *.py[co]
