include .pre-commit-config.yaml .flake8 pyproject.toml tox.ini

recursive-include src/yomiel/protobuf *_pb2.py
recursive-include yomiel *.yaml bootstrap

recursive-include . LICENSE NOTICE
recursive-include docs *.svg

global-exclude __pycache__
global-exclude *.py[cod]
global-exclude .gitignore

prune build/
